html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/custom.css")
	body
		div.container-fluid.div-to
			nav(class="navbar navbar-light bg-light")
				a.navbar-brand
					img(src="https://yt3.ggpht.com/a/AATXAJzvnWH17ZIrmOWMo7PpoBBDz22z4FFOcrPyRA=s68-c-k-c0xffffffff-no-rj-mo", width="30", height="30")
				nav.navbar.navbar-expand-lg.navbar-light.bg-light
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a.navbar-brand Navbar
				button.navbar-toggler
					span.navbar-toggler-icon
				div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
					div.navbar-nav
						a(class="nav-item nav-link active", href="/") Home
						a(class="nav-item nav-link", href="/users") Users
						a(class="nav-item nav-link", href="/products") Products
						a(class="nav-item nav-link disabled") Disabled	
		block content
